################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
packages
EmployeeManagement.Models/bin
EmployeeManagement.Models/obj/*
EmployeeManagement.Web/obj/*
EmployeeManagement.Web/bin
EmployeeManagement.API/bin
EmployeeManagement.API/obj/*